.venn-diagram {
    position: relative;

    & text {
        fill: #eee !important;
    }

    &__legend {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
    }

    &__legend-item {
        display: flex;
        align-items: center;
    }

    &__legend-color {
        width: 8px;
        height: 8px;
        margin: 0 8px 0 0;
    }
}